<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
<h1>EDIT <%=funko.name%></h1>
<div class='form'>
<form class="" action="/funko/<%=funko.id%>?_method=PUT" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
IMG <input type="text" class="form-control" name="img" value="<%=funko.img%>">
</div>
<div class="form-group col-md-6">
NAME <input type="text" class="form-control" name="name" value="<%=funko.name%>">
</div>
<div class="form-group col-md-4">
NUMBER IN Collection <input type="number" class="form-control" name="numberInCollection" value="<%=funko.numberInCollection%>">
</div>
<div class="form-group col-md-4">
POP TYPE <input type="text" class="form-control" name="popType" value="<%=funko.popType%>">
</div>
<div class="form-group col-md-2">
VALUE <input type="number" class="form-control" name="value" value="<%=funko.value%>">
</div>
<div class="form-group col-md-2">
COLLECTION <input type="text" class="form-control" name="collection_" value="<%=funko.collection_ %>">
</div>
<div class="form-group col-md-2">
QTY <input type="number" class="form-control" name="qty" value="<%=funko.qty%>">
</div>
</div>
<button type="submit"class="btn btn-secondary"><i class="far fa-edit"></i> EDIT POP! </button>
</form>
</div>
  </body>
</html>
